<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle
    Name="OfficeAgent"
    Manufacturer="OfficeAgent"
    Version="$(var.ProductVersion)"
    UpgradeCode="A83D3E4A-FE0B-4A49-82A7-6528D0908AA5"
    Compressed="yes">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="rtfLicense"
        LicenseFile="BundleLicense.rtf" />
    </BootstrapperApplication>

    <util:RegistrySearch
      Id="SearchVstoRuntimeVersion64"
      Variable="VstoRuntimeVersion64"
      Root="HKLM"
      Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R"
      Value="Version"
      Result="value"
      Bitness="always64" />

    <util:RegistrySearch
      Id="SearchVstoRuntimeVersion32"
      Variable="VstoRuntimeVersion32"
      Root="HKLM"
      Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R"
      Value="Version"
      Result="value"
      Bitness="always32" />

    <util:RegistrySearch
      Id="SearchVstoRuntimeInstall64"
      Variable="VstoRuntimeInstall64"
      Root="HKLM"
      Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4"
      Value="Install"
      Result="value"
      Bitness="always64" />

    <util:RegistrySearch
      Id="SearchVstoRuntimeInstall32"
      Variable="VstoRuntimeInstall32"
      Root="HKLM"
      Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4"
      Value="Install"
      Result="value"
      Bitness="always32" />

    <Chain>
      <ExePackage
        Id="VstoRuntime"
        DisplayName="Microsoft Visual Studio Tools for Office Runtime"
        SourceFile="prereqs\vstor_redist.exe"
        PerMachine="yes"
        Cache="remove"
        Permanent="yes"
        Vital="yes"
        Compressed="yes"
        DetectCondition="VstoRuntimeVersion64 OR VstoRuntimeVersion32 OR VstoRuntimeInstall64 = 1 OR VstoRuntimeInstall32 = 1"
        InstallArguments="/quiet /norestart" />

      <MsiPackage
        Id="OfficeAgentMsiX86"
        DisplayName="OfficeAgent (x86)"
        SourceFile="OfficeAgent.Setup-x86.msi"
        Visible="no"
        Vital="yes"
        Compressed="yes"
        InstallCondition="VersionNT64 = 0">
        <MsiProperty Name="SKIPVSTORUNTIMECHECK" Value="1" />
        <MsiProperty Name="SKIPWEBVIEW2CHECK" Value="1" />
      </MsiPackage>

      <MsiPackage
        Id="OfficeAgentMsiX64"
        DisplayName="OfficeAgent (x64)"
        SourceFile="OfficeAgent.Setup-x64.msi"
        Visible="no"
        Vital="yes"
        Compressed="yes"
        InstallCondition="VersionNT64">
        <MsiProperty Name="SKIPVSTORUNTIMECHECK" Value="1" />
        <MsiProperty Name="SKIPWEBVIEW2CHECK" Value="1" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
